GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEETS_API_KEY=
NEXT_PUBLIC_INTERNAL_API_SECRET=
PRODUCTION_URL=

# Sheet Example: https://docs.google.com/spreadsheets/d/1kqK9HPuSiAxvyo-sxN8nScNlifwSiYLIT0OSlqKa11g/