GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEETS_API_KEY=
NEXT_PUBLIC_INTERNAL_API_SECRET=
PRODUCTION_URL=
AUTH_SECRET=
IMGBB_API_KEY=

# Sheet Example: https://docs.google.com/spreadsheets/d/1kqK9HPuSiAxvyo-sxN8nScNlifwSiYLIT0OSlqKa11g/
# Sheet Routine: https://docs.google.com/spreadsheets/d/1jjOmSUg3U_uyzM0mtaj1FldEOD1nNeMCAhybEiQTW3M/
